<form name="projectForm">
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" ng-disabled="true" name="name" ng-model="projectsVm.project.name" />
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input class="form-control" ng-disabled="true" name="description" ng-model="projectsVm.project.description" />
    </div>
    <div class="form-group">
        <label for="status">Status</label>
        <input class="form-control" ng-disabled="true" name="status" ng-model="projectsVm.project.status.name" />
    </div>
    <div class="form-group">
        <label for="relatedRfi">Related RFI</label>
        <input class="form-control" ng-disabled="true" name="relatedRfi" ng-model="projectsVm.project.relatedRfi" />
    </div>
    <div class="form-group">
        <label for="notes">Notes</label>
        <input class="form-control" ng-disabled="true" name="notes" ng-model="projectsVm.project.notes" />
    </div>
</form>